body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#content-chat{
  min-height: 77.5vh;
  max-height: 77.5vh;
  overflow-y: scroll;
  background-color: #8e8e8e6c;
  border-radius: 30px;
}
#content-chat::-webkit-scrollbar{
  width: 7px;
}
#content-chat::-webkit-scrollbar-thumb{
  background: #1d7bffce;
  border-radius: 30px;
}

#data-card{
  background-color: #8e8e8e6c;
  border-radius: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 768px) {
  /* Estilos para pantallas pequeñas, como celulares */
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para pantallas medianas, como tablets */
}

@media (min-width: 1025px) {
  /* Estilos para pantallas grandes, como computadoras de escritorio */
}